
.container {
    text-align: center;
}
.paprikas {
  margin:10px;
  width: 500px;
  border: 10px solid #ffcc99;
  padding: 50px;
  margin: 30px 300px;
  background-color: black;
  text-align: center;
}
.valamilyen {
  width: 500px;
  border: 10px solid #ffcc99;
  padding: 50px;
  margin: 30px 300px;
  background-color: black;
  text-align: center;
}
.oliva {
  width: 500px;
  border: 10px solid #ffcc99;
  padding: 50px;
  margin: 30px 300px;
  background-color: black;
  text-align: center;
}
.sima {
  width: 500px;
  border: 10px solid #ffcc99;
  padding: 50px;
  margin: 30px 300px;
  background-color: black;
  text-align: center;
}
.szalamis {
  width: 500px;
  border: 10px solid #ffcc99;
  padding: 50px;
  margin: 30px 300px;
  background-color: black;
  text-align: center;
}
.kukorica {
  width: 500px;
  border: 10px solid #ffcc99;
  padding: 50px;
  margin: 30px 300px;
  background-color: black;
  text-align: center;
}
.hus {
  width: 500px;
  border: 10px solid #ffcc99;
  padding: 50px;
  margin: 30px 300px;
  background-color: black;
  text-align: center;
}
.sonka {
  width: 500px;
  border: 10px solid #ffcc99;
  padding: 50px;
  margin: 30px 300px;
  background-color: black;
  text-align: center;
}
.sonkaszalami {
  width: 500px;
  border: 10px solid #ffcc99;
  padding: 50px;
  margin: 30px 300px;
  background-color: black;
  text-align: center;
}
.gomba {
  width: 500px;
  border: 10px solid #ffcc99;
  padding: 50px;
  margin: 30px 300px;
  background-color: black;
  text-align: center;
}
.coca {
  width: 500px;
  border: 10px solid #ffcc99;
  padding: 50px;
  margin: 30px 300px;
  background-color: black;
  text-align: center;
}
.dreher {
  width: 500px;
  border: 10px solid #ffcc99;
  padding: 50px;
  margin: 30px 300px;
  background-color: black;
  text-align: center;
}